/* MOBILE FIRST */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* KEYFRAME ANIMATIONS */
@keyframes winnersAnim {
    to {
        bottom: 100%;
    }
    from {
        top: -310px;
    }
}

@keyframes menuAnim {
    to {
        
        left: 0%;
    }
    from {
        left: -100%;
    }

    10% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menuClose {
    to {
        left: -100%;
    }
    from {
        left: 0%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: white;

}

header {
    position: sticky;
    overflow: hidden;
    height: 80px;
    color: white;
    background-color: #0A3A40;

    h1 {
        position: relative;
        left: 20px;
        top: 20px;
    }

    menu {
        ul {
            display: flex;
            justify-content: flex-end;
            gap: 13px;
            margin-right: 20px;
            list-style-type: none;
            position: relative;
            bottom: 30px;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 7px;
                flex-direction: column;
                width: 60px;
                background-color: #1a6e6e;
                text-align: center;
                padding: 0;
                height: 40px;
                cursor: pointer;
                border-radius: 7px;
                backdrop-filter: blur(20px);
                box-shadow: 0px 0px 80px rgba(227, 228, 237, 0.37);
                border: 1px solid rgba(255, 255, 255, 0.18);
                text-shadow: 2px 1px black;
                font-size: 10px;
                cursor: pointer;
            }

            .user-icon {
                background-color: transparent;
                border-radius: 60px;
            }
        }
    }
}

main {
    overflow: hidden;
    color: white;
    background-color: #042326;

    .account {
        background-image: linear-gradient(to right, #0A3A40, #176363);
        padding: 1px;
        text-shadow: 2px 2px black;
        font-style: italic;
        font-size: 20px;
        


        p {
            margin: 13px;
        }
    }

    #hide-menu {
        position: absolute;
        z-index: 1;
        background-color: #156a6a;
        height: 100%;
        top: 0%;
        backdrop-filter: blur(20px);
        box-shadow: 0px 10px 10px rgba(10, 190, 160, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        text-shadow: 2px 2px black;
        position: fixed;
        animation: menuAnim 0.3s linear 1;
        display: none;

        .balance {
            border: 2px solid rgb(8, 205, 57);
            padding: 3px;
            border-radius: 3px;
            
        }

        .close-icon {
            position: absolute;
            left: 319px;
            cursor: pointer;
            padding: 5px;
            background-color: #0A3A40;
            border-radius: 0px 5px 5px 0px;
            transition: 0.4s;
        }

        .close-icon:hover {
            background-color: red;
            transition: 0.4s;
        }


        .profile { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;
            gap: 5px;
            border-bottom: 2px solid white;

            span {
                position: relative;
                top: 5px;
                margin-right: 5px;
                
            }

            p {
                margin-left: 19px;
            }

        .medal-icon {
            width: 25px;
            position: relative;
            bottom: 2px;
        }
    }
        

        h5 {
            margin-left: 20px;
        }
        

        ul { 

            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 15px;
            justify-content: flex-start;
            margin-top: 20px;

            li {
                border: 2px solid black;
                width: 200px;
                padding: 5px;
                cursor: pointer;
                transition: 0.2s;

                
            }
            li:hover {
                background-color: #118cf0;
                transition: 0.2s;
            }
        }
    }

    .newslatter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        border-top: 2px solid white;
        padding: 10px;

        h4 {
            font-size: 15px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                padding: 5px;
                outline: none;
                width: 180px;
                height: 35px;
                border-radius: 5px;
                margin-top: 10px;
            }

            button {
                padding: 5px;
                margin-top: 8px;
                border-radius: 5px;
                background-color: rgb(247, 218, 0);
                backdrop-filter: blur(20px);
                box-shadow: 0px 10px 10px rgba(10, 190, 160, 0.37);
                border: 1px solid rgba(255, 255, 255, 0.18);
                transition: 0.2s;

            }

            button:hover {
            transform: scale(1.06);
            transition: 0.5s;

            }
        }
    }
    

    h1.cassino-h1 {
        text-align: center;
        margin: 20px 0px;
        font-size: 29px;
        font-style: italic;
        border-top: 1px solid #167070;
        border-bottom: 1px solid #126666;
        padding: 25px;
        background-image: url('assets/cassino-main.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 20px rgba(10, 190, 160, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        text-shadow: 2px 2px black;
    }

    h1.esportes-h1 {
        text-align: center;
        margin: 20px 0px;
        font-size: 27px;
        font-style: italic;
        border-top: 1px solid #167070;
        border-bottom: 1px solid #126666;
        padding: 25px;
        background-image: url('assets/esporte-h1.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 20px rgba(10, 190, 160, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        text-shadow: 2px 2px black;
    }

    h1.cassino-live {
        text-align: center;
        margin: 20px 0px;
        font-size: 27px;
        font-style: italic;
        border-top: 1px solid #167070;
        border-bottom: 1px solid #126666;
        padding: 25px;
        background-image: url('assets/casssino-aovivo-bg.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 20px rgba(10, 190, 160, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        text-shadow: 2px 2px black;

    }

    .menu-main {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            list-style-type: none;
            gap: 10px;
            border-bottom: 2px solid #217e7e;
            border-top: 2px solid #154949;
            padding: 10px;

            li {
                border: 1px solid white;
                padding: 10px;
                border-radius: 2px;
                cursor: pointer;
                transition: 0.4s;
            }

            li:hover {
                background-color: #118cf0;
                transition: 0.4s;
            }
        }
    }

    .cassino {
        ul {
            display: flex;
            padding: 0px;
            list-style-type: none;
            align-items: center;
            justify-content: space-evenly;
            align-items: center;
            overflow: auto;
            gap: 10px;
            margin: 10px;
            scrollbar-width: none;

        }

        .cassino ul::-webkit-scrollbar {
            display: none;
        }

    }

    .esportes {
        text-align: center;

        ul {
            padding: 0;
            width: 370px;
            height: 200px;
            display: block;
            margin: auto;
            font-size: 12px;

        }
        
    }

    .winners {
        display: flex;
        flex-direction: column; 
        overflow: hidden;
        mask-image: linear-gradient(to top, transparent, #000000 20% 100%, transparent);
        justify-content: center;
        align-items: center;

        h3 {
            text-align: center;
        }        
        
        ul {
            mask-image: linear-gradient(to bottom, transparent, #000000 10% 100%, transparent);
            display: flex;
            flex-flow: column wrap;
            overflow: hidden;
            border-top: 10px solid white;
            border-bottom: 10px solid white;
            border-right: 5px solid white;
            border-left: 5px solid white;
            background-image: url('assets/libet-bg.png');
            background-size: cover;
            width: 350px;
            
            li {
                animation-timing-function: ease;
                transition: all ease;
                position: relative;
                top: 280px;
                animation: winnersAnim 10s linear infinite;
                box-sizing: border-box;

                .medal-icon {
                    width: 20px;
                    margin-right: 2px;
                }

                .win-user {
                    width: 100px;
                }
                
            }
        }
    }
}


#card {
    background-color: black;
    color: white;
    width: 100%;

    img {
        display: block;
        margin: auto;
    }

    .card-container {
        width: 200px;

        .item {
            width: 100%;
        }
    }
}

#carouselExampleDark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fut {
    width: 15px;
    position: relative;
    bottom: 2px;
}

#carouselExampleSlidesOnly {
    width: 410px;
    display: block;
    margin: auto;

    img {
        border-radius: 5px;
    }
}


footer {
    border-top: 2px solid black;
    background-color: #0A3A40;
    color: white;
    font-size: 14px;
    padding-top: 10px;


    .adress {
        color: rgba(255, 255, 255, 0.307);
        text-align: justify;
        font-size: 10px;
        margin: 20px 10px 30px 10px;
    }

    .sup {
        margin: auto;
        border: 2px solid white;
        width: 350px;
    }

    .support-icon {
        display: inline-block;
        width: 50px;
    }

    .licences {
        display: flex;
        flex-direction: row;
        margin: 20px 150px;

        img {
            width: 50px;
        }
    }

    h6 {
        text-align: center;
        margin-top: 30px;
    }

    img {
        width: 100px;
        display: block;
        margin: auto;


    }

    menu {

        ul { 
        display: flex;
        align-items: center;
        list-style: none;
        flex-direction: row;
        padding: 0;
        justify-content: center;
        gap: 10px;

        img {
            width: 40px;
        }
        
    }
    
}
    

    h3, h2, p {
        text-align: center;
        font-size: 15px;
        margin: 10px 0px;
    }
}